.container-fluid{
    display: grid;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto !important;
}
/*CENTER PAGE*/
main{
    margin-top: 1.4rem;
    margin-right: 1rem;
    margin-left: 1.8rem;
    background-color: white;
    border: solid #076026;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    border-radius: 17px;
    margin-bottom: 0.5rem;
}
main h1 span{
    background-color: white;
    position: relative;
    top: 0.8rem;
    padding-top: 1.9rem;
    padding-bottom: 2.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0px 30px 100px 0px;
    border-color: #16381f;
    border-style: solid solid none none;
    border-width: 0.8rem;
}
main .account-container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #076026;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2.2rem;
    padding: 2rem;
    border-radius: 17px 17px 0 0;
}
main .account-container .adminpicture{
    display: flex;
    width: 67px;
    height: 67px;
    background-color: #ffffff;
    border-radius: 33.5px;
}
main .account-container h1{
    color: white;
}
main .grid4{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
}

/*RIGHT PAGE*/
.right-section{
    margin-top: 1.4rem;
    margin-right: 1rem;
}
.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right-section .nav button{
    display: none;
}
