/*CENTER PAGE*/
main{
    margin-top: 1.4rem;
    margin-left: 1.8rem;
    background-color: white;
    border: solid #076026;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    border-radius: 17px;
    margin-bottom: 0.5rem;
}
main h1 span{
    background-color: white;
    position: relative;
    top: 0.8rem;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0px 30px 100px 0px;
    border-color: #16381f;
    border-style: solid solid none none;
    border-width: 0.8rem;
}
main .account-container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #076026;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2.2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    border-radius: 17px 17px 0 0;
}
main .account-container .adminpicture{
    display: flex;
    width: 67px;
    height: 67px;
    background-color: #ffffff;
    border-radius: 33.5px;
}
main .account-container h1{
    color: white;
}
main .grid4{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
}
main .notification-holder{
    background-color: #16381f4c;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
}
main .notification-holder h2{
    padding: 1rem;
}
main .notification-holder .notification-solo{
    display: flex;
}
main .notification-holder .notification-solo h4{
    font-size: 22px;
    margin-left: 0.6rem;
    
}

/*RIGHT PAGE*/
.right-section{
    margin-top: 1.4rem;
    margin-right: 1rem;
}
.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right-section .nav button{
    display: none;
}
.right-section .reminders{
    margin-top: 2rem;
}
.right-section .reminders .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}
.right-section .reminders .header span{
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: 50%;
}
.right-section .reminders .notification{
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}
.right-section .reminders .notification:hover{
    box-shadow: none;
}
.right-section .reminders .notification .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}
.right-section .reminders .notification .icon{
    padding: 0.6rem;
    color: white;
    background-color: #1B9C85;
    border-radius: 20%;
    display: flex;
}
.right-section .reminders .notification.deactive .icon{
    background-color: red;
}
.right-section .reminders .add-reminder{
    background-color: white;
    border: 2px dashed #6C9BCF;
    color: #6C9BCF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.right-section .reminders .add-reminder:hover{
    background-color: #6C9BCF;
    color: white;
}
.right-section .reminders .add-reminder div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}