.container-fluid{
    display: grid;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto !important;
}
/*CENTER PAGE*/
main{
    margin-top: 1.4rem;
    margin-left: 1.8rem;
    margin-right: 1rem;
    background-color: white;
    border: solid #076026;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    border-radius: 17px;
    margin-bottom: 0.5rem;
}
main h1 span{
    background-color: white;
    position: relative;
    top: 0.8rem;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0px 30px 100px 0px;
    border-color: #16381f;
    border-style: solid solid none none;
    border-width: 0.8rem;
}
main .account-container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #076026;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2.2rem;
    padding: 2rem;
    border-radius: 17px 17px 0 0;
}
main .account-container .adminpicture{
    display: flex;
    width: 67px;
    height: 67px;
    background-color: #ffffff;
    border-radius: 33.5px;
}
main .account-container h1{
    color: white;
}
main .grid4{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
}
main .homepage-container{
    display: grid;
    grid-template-columns: 45% 55%;
    margin-top: 2rem;
}
main .homepage-container .side2 .header-home{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
main .homepage-container .side2 .header-home button{
    font-size: 18px;
    color: #16381f;
    background-color: #16381f4c;
}
main .homepage-container .side2 .header-home button:hover{
    color: #fcfcfc;
    background-color: #07170b4c;
}
main .homepage-container h6{
    margin-top: 3rem;
    font-size: 28px;
    color: #16381f;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 900;
}
main .homepage-container .side1 img{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}
main .homepage-container .side2{
    background-color: #16392033;
    border-radius: 20px;
}
main .homepage-container .side2 h5{
    font-size: 28px;
    font-weight: 900;
    color: #16381f;
}
main .featured-list button{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 16px;
    font-weight: 800;
}
main .featured-list-header{
    display: flex;
    justify-content: space-between;
}
main .featured-list-header a{
    text-decoration: none;
    color: black;
}
main .featured-list .row{
    padding: 2rem;
    margin-top: 1rem;
    display: flex;
    gap: 1.4rem;
}
main .featured-list .row .col{
    cursor: pointer;
}
main .row .col:nth-child(odd){
    background: #163920;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #00000040;
}
main .row .col:nth-child(even){
    background-color: #43855A;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #00000040;
}
main .row h5{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin-top: 2rem;
}
main .row p{
    font-size: 16px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 1rem;
}
main .recent-announcement{
    margin-top: 1.3rem;
}
main .recent-announcement h2{
    margin-bottom: 0.8rem;
}
main .recent-announcement a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: black;
}
main h2{
    font-size: 14px;
    color: #16381f;
    font-weight: 200;
}
main h1{
    margin-left: -2rem;
}
main .recent-announcement h1{
    display: flex;
    justify-content: right;
    font-size: 20px;
    color: #16381f;
    font-weight: 100;
}

/*RIGHT PAGE*/
.right-section{
    margin-top: 1.4rem;
    margin-right: 1rem;
}
.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right-section .nav button{
    display: none;
}