.container-fluid{
    display: grid;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto !important;
}
/*CENTER PAGE*/
main{
    margin-top: 1.4rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    background-color: white;
    /* border: solid black; */
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    border-radius: 0px 17px 17px 0px;
    margin-bottom: 0.5rem;
}
main .bookingheader{
    gap: 4rem;
    display: flex;
}
main h1 span{
    background-color: white;
    position: relative;
    top: 0.8rem;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0px 30px 100px 0px;
    border-color: #16381f;
    border-style: solid solid none none;
    border-width: 0.8rem;
}
main h1{
    margin-left: -2rem;
}
main .booking-landing{
    margin-top: 5rem;
}
main .bookingform{
    margin-top: 2.5rem;
    border: solid #163920 0.2rem;
    margin-right: -2rem;
    margin-left: -2rem;
}
main .bookingform .containerform-fluid h6{
    font-weight: 900;
}
.form-control{
    background-color: #43855A33;
}
.containerform-fluid{
    margin: 1rem;
}
/* .col-2{
    border: solid black 1px;
} */
.col-2 .summarybox{
    border: solid black 1px;
    background-color: #43855A33;
}
.col-2 .summarybox h5{
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
}
.col-1 span{
    font-size: 16px;
}

.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right-section .nav button{
    display: none;
}
