/*CENTER PAGE*/
main{
    margin-top: 1.4rem;
    margin-left: 1.8rem;
    background-color: #16392033;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    border-radius: 0px 17px 17px 0px;
    margin-bottom: 0.5rem;
}
main h1 span{
    background-color: white;
    position: relative;
    top: 0.8rem;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0px 30px 100px 0px;
    border-color: #16381f;
    border-style: solid solid none none;
    border-width: 0.8rem;
}
main h1{
    margin-left: -2rem;
}
main .booking-landing{
    margin-top: 5rem;
}
main .button-choices{
    background-color: white;
}
main .row{
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}
main .row .col{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: white solid;
    border-width: 2px;
}
main .row .col a{
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: #16381f;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
}
main .row .col:hover{
    border-bottom: #16381f solid;
    border-width: 2px;
}
.overlay2 .overlay3{
    visibility: hidden;
    height: 10rem;
    overflow: hidden;
    transition: height 0.5s ease;
}
.overlay2 #services{
    position: relative;
    top: -9.9rem;
}
.overlay2 .overlay3:target{
    visibility: visible;
    opacity: 1;
    height: auto;
}
main .overlay2 .overlay3 a{
    text-decoration: none;
    color: black;
}
main .overlay2 .overlay3 .content-banner{
    background-color: #43855A80;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
main .overlay2 .overlay3 .content-banner h2{
    font-size: 26px;
    font-style: italic;
    padding: 1rem;
}

.grid-container{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 80%;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}
.grid-container .grid1 .grid-img{
    background-color: white;
    height: 160px;
    border-style: solid solid none solid;
    border-width: 5px;
}
.grid-container .grid2{
    background-color: #43855a4c;
    grid-column: 2;
    grid-row: 1 / span 2;
    border-radius: 0 20px 20px 0;
}
.grid-container .grid3{
    border-style: none solid solid solid;
    border-width: 5px;
}
.grid-container .grid3 h2{
    text-align: center;
    padding: 1rem;
    font-weight: 800;
    font-size: 24px;
}
/*RIGHT PAGE*/
.right-section{
    margin-top: 1.4rem;
    margin-right: 1rem;
}
.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right-section .nav button{
    display: none;
}
.right-section .searchbooking .search span{
    position: relative;
    top: 36px;
    left: 10px;
}
.right-section .searchbooking .search .form-control{
    border-color: black;
    border-width: 2px;
    border-radius: 30px;
}
.right-section button{
    margin-top: 2rem;
    background-color: #f4fcd2;
    font-size: 32px;
}
/* .right-section .searchbooking{
    display: flex;
} */