.container-fluid{
    display: grid;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto !important;
}/*CENTER PAGE*/
main{
    margin-top: 1.4rem;
    margin-left: 1.8rem;
    margin-right: 1rem;
    background-color: #16392033;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    border-radius: 0px 17px 17px 0px;
    margin-bottom: 0.5rem;
}
main h1 span{
    background-color: white;
    position: relative;
    top: 0.8rem;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0px 30px 100px 0px;
    border-color: #16381f;
    border-style: solid solid none none;
    border-width: 0.8rem;
}
main .categories .row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .categories .row .col .featured-img{
    position: relative;
    top: 1rem;
    width: 250px;
    height: 100px;
    background-color: #d9d9d9;
    border-radius: 10px;
}
main h1{
    margin-left: -2rem;
}
main .row .col:nth-child(odd){
    background: #16392026;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #00000040;
}
main .row .col:nth-child(odd) h5{
    padding-bottom: 0.4rem;
    border-bottom: solid black 1px;
}
main .row .col:nth-child(even){
    background-color: #16392087;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #00000040;
    color: white;
}
main .row .col:nth-child(even) h5{
    padding-bottom: 0.4rem;
    border-bottom: solid white 1px;
}
main .row .col:nth-child(odd) button{
    background-color: white;
    color: black;
}
main .row .col:nth-child(even) button{
    background-color: white;
    color: black;
}
main .categories .row{
    padding: 2rem;
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

/*RIGHT PAGE*/
.right-section{
    margin-top: 1.4rem;
    margin-right: 1rem;
}
.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right-section .nav button{
    display: none;
}
.right-section .searchbooking .search span{
    position: relative;
    top: 36px;
    left: 88%;
}
.right-section .searchbooking .search .form-control{
    border-color: black;
    border-width: 2px;
    border-radius: 30px;
}
.right-section a{
    text-decoration: none;
    color: black;
}
.right-section button{
    margin-top: 2rem;
    background-color: #f4fcd2;
    font-size: 32px;
    border: solid black;
}
.right-section button:hover{
    background-color: #808b51;
    border: solid black;
    color: white;
}
/* .right-section .searchbooking{
    display: flex;
} */